#overview {
    spacing: .5em;
}

.overview-controls {
    padding-bottom: .5em;
}

.workspace-thumbnails-background {
    background-color: #343838;
    padding: .5em;
}

.workspace-thumbnails {
    spacing: .5em;
}

.workspace-thumbnail-indicator {
    outline: .5em solid #008C9E;
}

.window-caption {
    font-size: .917em;
    background: #343838;
    padding: .5em;
    -shell-caption-spacing: 1px;
}

.window-close, .notification-close {
    background: #343838 url("close.svg");
    background-size: 1em;
    height: 1.5em;
    width: 1.5em;
    padding: .125em;
    -shell-close-overlap: 1.5em;
}

.window-clone-border {
    border: .25em solid #008C9E;
}

.window-picker {
    -horizontal-spacing: 2em;
    -vertical-spacing: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: .5em;
}

.window-picker.external-monitor {
    padding-top: .5em;
}

/* Messages indicator */

.messages-indicator {
    color: #999999;
    height: 32px;
}

.messages-indicator-contents {
    spacing: 12px;
    padding-bottom: 12px;
}

.messages-indicator-contents:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

.messages-indicator-highlight {
    background-gradient-start: transparent;
    background-gradient-end: #999999;
    background-gradient-direction: vertical;

    height: 6px;
}

/* Dash */

#dash {
    background: #343838;
}

#dash:empty {
    height: 100px;
}

.placeholder {
    border: 1px solid #008C9E;
    height: 5em;
}

.dash-label {
    font-size: .917em;
    padding: .5em;
    background-color: #343838;
    text-align: center;
    -x-offset: 0px;
}

#viewSelector {
    spacing: .5em;
}

/* Search */

#searchEntry {
    font-size: 1.5em;
    width: 300px;
}

.search-entry-icon {
    icon-size: 1em;
}

#searchResults {
    padding: .5em;
    background: #343838;
    spacing: 1em;
}

#searchResultsBin {
    max-width: 100em;
}

#searchResultsContent {
    spacing: 0em;
}

.search-section {
    /* This should be equal to #searchResultsContent spacing */
    spacing: 0em;
}

.search-section-separator {
    -gradient-height: 1px;
    -gradient-start: rgba(255, 249, 242, .2);
    -gradient-end: rgba(255, 249, 242, .2);
    -margin-horizontal: 0;
    height: 1px;
    padding: 0;
}

.search-section-content {
    /* This is the space between the provider icon and the results container */
    spacing: .5em;
}

.search-statustext {
    color: rgb(255, 249, 242);
    font-size: 2em;
    font-weight: bold;
}

.list-search-results {
    spacing: 0px;
}

.results-container {
    spacing: .25em;
}

.search-providers-box {
    spacing: .25em;
}

.dash-search-button {
    width: 15em;
}

/* Result display */

.icon-grid {
    spacing: 2em;
    -shell-grid-horizontal-item-size: 128px;
    -shell-grid-vertical-item-size: 128px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
    height: 128px;
    width: 128px;
}

.app-view-controls {
    width: 20em;
    padding: .25em 0;
}

.app-view-control {
}

.search-display > StBoxLayout,
.all-apps > StBoxLayout,
.frequent-apps > StBoxLayout {
    /* horizontal padding to make sure scrollbars or dash don't overlap content */
    padding: 0px 88px;
}


.all-app {
    background: #343838;
    padding: .5em;
    padding-right: 0;
    spacing: 1em;
}

.all-app:rtl{
    padding: .5em;
    padding-left: 0;
}

.app-filter {
    font-weight: bold;
    padding: .5em;
}

.app-filter:hover {
    background: #005F6B;
}

.app-filter:selected {
    background: #008C9E;
}

.app-filter:focus {
    background: #005F6B;
}

.remove-favorite-icon {
    color: #FFF9F2;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.show-apps > .overview-icon,
.search-result-content > .overview-icon,
.search-provider-icon,
.list-search-result,
.grid-search-result .overview-icon {
    font-size: .917em;
    padding: .5em;
    text-align: center;
}

.app-well-app.running > .overview-icon,
.show-apps:checked > .overview-icon {
    background: #008C9E;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.show-apps:hover > .overview-icon,
.search-result-content:hover > .overview-icon,
.search-provider-icon:hover,
.list-search-result:hover,
.grid-search-result:hover .overview-icon {
    background: #005F6B;
}

.show-apps-icon {
    color: #FFF9F2;
}

.contact-grid {
    spacing: 2em;
    -shell-grid-horizontal-item-size: 276px;
    -shell-grid-vertical-item-size: 128px;
}

.contact {
    width: 276px;
    height: 128px;
    padding: .5em;
}

.contact-content {
    padding: .5em;
    width: 256px;
    height: 100px;
    background-color: #343838;
}

.contact-details {
    padding: .5em;
}

.contact-details-alias {
    font-size: 1.125em;
    padding-bottom: .5em;
}

.contact-details-status-icon {
    padding-right: 4px;
}

.contact:hover {
    background-color: #005F6B;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon,
.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon,
.grid-search-result:focus .overview-icon,
.search-provider-icon:focus,
.list-search-result:focus,
.grid-search-result:selected .overview-icon,
.search-provider-icon:selected,
.list-search-result:selected {
    background-color: #005F6B;
}


/* ??? */
.list-search-result-content {
    spacing: 12px;
    padding: 12px;
}

/* ??? */
.list-search-result-title {
    font-weight: bold;
    font-size: 14pt;
    color: white;
}

/* ??? */
.list-search-result-description {
    color: #eeeeec;
}

/* ??? */
.search-provider-icon-more {
    width: 16px;
    height: 16px;
    background-image: url("more-results.svg");
}

.app-folder-popup {
    -arrow-background-color: #343838;
}

.app-folder-popup-bin {
    padding: 1em;
}

.app-well-app.app-folder > .overview-icon {
    background-color: #343838;
}
